{{$ zb.ui.templates.scrollList }}

<div class="w-base-list w-scroll-list">
	<div class="w-base-list__wrap" data-export-id="{{@wrapper}}">
		<div class="w-base-list__slider" data-export-id="{{@slider}}"></div>
		{{% zb.ui.ScrollBar, {}, bar }}
	</div>
</div>
