{
  "parser": "espree",
  "ecmaFeatures": {},
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "goog": true,
    "zb": true,
    "app": true
  },
  "extends": "interfaced",
  "plugins": [
    "goog"
  ],
  "rules": {
    "goog/no-undeclared-deps": [
      "error", {
        "domains": ["zb"]
      }
    ],
    "goog/no-unused-deps": [
      "error", {
        "domains": ["zb"]
      }
    ],
    "newline-before-return": [
      "off"
    ],
    "no-else-return": [
      "off"
    ],
    "padded-blocks": [
      "off"
    ]
  }
}
