{{$ zb.ui.widgets.templates.videoControl }}
<div class="w-video-control {{-this.className}}">
	<div class="w-video-control__item _prev" data-export-id="{{@btnPrev}}"></div>
	<div class="w-video-control__item _rewind" data-export-id="{{@btnRewind}}"></div>
	<div class="w-video-control__item _play" data-export-id="{{@btnPlayPause}}"></div>
	<div class="w-video-control__item _stop" data-export-id="{{@btnStop}}"></div>
	<div class="w-video-control__item _forward" data-export-id="{{@btnForward}}"></div>
	<div class="w-video-control__item _next" data-export-id="{{@btnNext}}"></div>
</div>