{{$ zb.ui.widgets.templates.baseList.baseList }}

<div class="w-zbui-base-list">
	<div class="w-zbui-base-list__wrap" data-export-id="{{@wrapper}}">
		<div class="w-zbui-base-list__slider" data-export-id="{{@slider}}"></div>
	</div>
</div>
