{{$ zb.ui.widgets.templates.videoProgressBar }}

<div class="w-video-progress-bar">
	<div>
		<div class="w-video-progress-bar__current" data-export-id="{{@currentTime}}">00:00:00</div>
		<div class="w-video-progress-bar__duration" data-export-id="{{@duration}}">00:00:00</div>
	</div>
	<div class="w-video-progress-bar__bar">
		<div class="w-video-progress-bar__value" data-export-id="{{@value}}"></div>
	</div>
</div>
