{{$ zb.ui.templates.divInput }}

<div class="w-zbui-div-input__wrapper" data-export-id="{{@slider}}">
	<div class="w-zbui-div-input__input _placeholder" data-export-id="{{@placeholder}}"></div>
	<div class="w-zbui-div-input__input _fake" data-export-id="{{@textBeforeCaret}}"></div>
	<div class="w-zbui-div-input__input" data-export-id="{{@inputText}}"></div>
</div>
