{{+ import ScrollBar from "ui/widgets/scroll-bar/scroll-bar"; }}

<div class="w-zbui-base-list w-zbui-scroll-list">
	<div class="w-zbui-base-list__wrap" data-export-id="{{@wrapper}}">
		<div class="w-zbui-base-list__slider" data-export-id="{{@slider}}"></div>
		{{% ScrollBar, {}, bar }}
	</div>
</div>
