{{$ zb.ui.widgets.templates.scrollList.scrollList }}

<div class="w-zbui-base-list w-zbui-scroll-list">
	<div class="w-zbui-base-list__wrap" data-export-id="{{@wrapper}}">
		<div class="w-zbui-base-list__slider" data-export-id="{{@slider}}"></div>
		{{% zb.ui.widgets.ScrollBar, {}, bar }}
	</div>
</div>
