{{$ zb.ui.templates.helpBarItem.helpBarItem }}

{{* this.label string }}
{{* this.cssClass string }}

<div class="w-help-bar-item {{=this.cssClass}}" data-export-id="{{@label}}">{{=this.label}}</div>
